.custom-audio-player {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(14, 2, 21, 0.5);
}

.display-image-player {
    margin-top: 1%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.duration-range {
    filter: hue-rotate(280deg);
    width: 100%;
    margin-top: 2%;
}

.duration-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}

.volume-range {
    filter: hue-rotate(20deg);
    width: 30%;
    margin-top: 2%;
}

.audio-btn {
    cursor: pointer;
}